<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Nepal Finance Tools{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=3">
</head>
<body>

<header>
    <h1>Nepal Finance Tools</h1>
    <nav>
        <a href="/">🏠 Home</a>
        <a href="/emi">💰 EMI</a>
        <a href="/loan">🏦 Loan</a>
        <a href="/fuel">⛽ Fuel</a>
    </nav>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer>
    &copy; 2026 Nepal Finance Tools | Made with Python & Flask
</footer>

</body>
</html>
